@using ShipDiplom.Models.Entities;
@model Ship

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Информация о корабле</h2>
            <p><strong>Название:</strong> @Model.Name</p>
            <p><strong>ID системы:</strong> @Model.SystemId</p>
            <p><strong>Длина:</strong> @Model.Length</p>
            <p><strong>Ширина:</strong> @Model.Width</p>
            <p><strong>ID владельца:</strong> @Model.OwnerId</p>
            <a href="@Url.Action("Index", "Ship")" class="btn btn-primary">Назад к списку</a>
        </div>
    </div>
</div>
